*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080710;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.links {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad,
      #23a2f6);
  left: -50px;
  top: -50px;
  z-index: -1;
}

.shape:last-child {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  right: -50px;
  bottom: -50px;
}

.login-form {
  height: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.login-form * {
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.login-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710 !important;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

/* Header */

.header {
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  height: auto;
}

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.logout {
  margin-left: 20px;
  cursor: pointer;
}

.download-section {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.admin-download-section {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  column-gap: 20px;
}

.card {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  height: auto;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.admin-card {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.card h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language {
  font-size: 12px;
}

.files {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;

}

.download-link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.html {
  background-color: #e34c26;
  text-align: center;
}

.css {
  background-color: #264de4;
}

.js {
  background-color: #f09819;
}

.admin-buttons {
  display: flex;
  padding: 30px;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.admin-buttons li {
  list-style: none;
  background-color: #7289da;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

}



/* Table */

#customers {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  padding: 8px;
}

#customers td {
  color: #222;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #222;
  color: #fff;
}

.register-form {
  color: #fff;
}

.file-upload-section {
  padding: 30px;
}